body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
    position: relative;
    z-index: 2;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: -60px;
}

.logo-container img {
    height: 100px;
    margin-right: 0;
}

.logo-container h1 {
    color: #1f288d;
    font-size: 22px;
    white-space: nowrap;
    margin-left: -50px;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container img {
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.barra {
    position: absolute;
    width: 800px;
    height: auto;
    z-index: 0;
}

.barra-top-left {
    top: 0; 
    left: -200px; 
    clip-path: inset(80px 0 0 0); 
    transform: rotate(160deg); 
    z-index: 0;
}

.barra-bottom-right {
    bottom: -50px;
    right: -220px; 
    transform: rotate(342deg);

}

container {
    position: relative;
    padding: 20px;
    overflow: auto;
} 

/* circunferencia y boton de perfil */
.circunferencia-container {
    position: absolute;
    top: 80px; 
    left: 200px;
    transform: translate(-50%, 0); 
    text-align: center;
    overflow: hidden; 
}

.circunferencia {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(143, 148, 198);
    border: 5px solid white;
    position: relative;
    overflow: hidden; 
}

.ver-perfil-btn {
    background-color: #c4c6e1;
    border: none;
    color: #20298c;
    padding: 8px 16px; 
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: calc(100% - 20px); 
    box-sizing: border-box; 
    z-index: 6; 
    overflow: hidden; 
    background-clip: padding-box; 
}

/*ventana secundaria*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    max-width: 400px; 
    border-radius: 20px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    position: relative; 
    margin: auto; 
}


/* estilo para el boton de cerrar */
.close-btn {
    color: #fe7203; 
    font-size: 32px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-btn:hover,
.close-btn:focus {
    color: #e05d00;
    text-decoration: none;
}

.modal-title {
    font-size: 24px;
    color: #20298c;
    margin-bottom: 20px; 
}

.modal-circunferencia {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

.modal-info {
    margin-top: 20px;
    text-align: center; 
}

.modal-info label {
    display: block; 
    font-size: 16px;
    color: #20298c;
    margin-bottom: 5px; 
    font-weight: bold; 
}

.modal-info input {
    width: 80%; 
    max-width: 300px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 15px;
    box-sizing: border-box; 
    font-size: 16px;
    text-align: center; 
    margin-bottom: 15px; 
}

.submit-btn {
    background-color: #fe7203;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; 
    margin-top: 20px; 
}

/*MENU*/
.menu-container {
    position: absolute;
    top: 180px; 
    left: 300px;    
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #20298c;
}

.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    color: #737373;
  
}

.menu-item.active {
    color: #20298c;
}

.separator {
    font-size: 18px;
    padding: 0 10px;
    color: #20298c;
}

.menu-item.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: #000000; 
}

.menu-item:hover {
    color: #000000; 
}

.menu-item:hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: #000000; 
}

/*usuario*/

.user-info {
    position: absolute;
    top: 120px; 
    left: 300px; 
    text-align: center;
    color: #20298c;
}

.user-info #user-name {
    font-size: 22px;
    font-weight: bold;
}

.user-info #user-email {
    font-size: 18px;
    color: #737373;
}

/*estilo de los contenedores*/
/* contenedor padre */
.contenedor-cursos-publicaciones {
    position: relative;
    top: 80px; 
    left: 300px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; 
    padding: 20px;
    width: 80%; 
    max-width: 1000px;
    box-sizing: border-box; 
}

/* subcontenedores */
.contenedor-curso {
    position: relative;
    padding-left: 120px; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100px; 
    width: 100%;
    box-sizing: border-box;
}

/* estilo para la circunferencia de cursos */
.circunferencia-course {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(143, 148, 198, 0.2);
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; 
}

/*imagen dentro de la circunferencia */
.curso-imagen {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 50%; 
}


.mensaje-imagen {
    position: absolute;
    top: 10px; 
    left: 10px; 
    transform: translateY(-50%); 
    background-color: #20298c; 
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 15px;
    text-align: center;
    z-index: 2; 
}

.contenedor-curso {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 120px; 
}

.circunferencia-course {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.contenedor-curso .texto {
    margin-left: 120px; 
    max-width: calc(100% - 130px); 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}


/* ! icono de usuario menu desplegable */

.dropdown-menu {
    position: absolute;
    top: 60px; 
    right: 10px; 
    background-color: #fff;
    border: 1px solid #737373;
    padding: 0; 
    z-index: 1000;
    width: 200px; 
    text-align: center; 
}

/*? Estilo para cada enlace y el botón */
.dropdown-menu a, .dropdown-menu button {
    display: block;
    padding: 10px;
    margin: 0; 
    text-decoration: none;
    color: #1f288d;
    border-top: 1px solid #737373; 
    border-bottom: 1px solid #737373;
}

.dropdown-menu a:first-child {
    border-top: none;
}

/*? Estilo del boton  */
.dropdown-menu button {
    background-color: #fe7203;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 90%; 
    margin: 10px auto; 
    text-align: center;
}


/*--------------------------------------------------------------*/
/* Responsive */
/* @media (min-width: 768px) {
    .top-bar {
        flex-direction: row;
        justify-content: space-between;
        height: 50px; 
    }

    .logo-container {
        margin-left: -60px;
        margin-bottom: 0;
    }

    .logo-container img {
        height: 80px; 
    }

    .logo-container h1 {
        font-size: 18px;
        margin-left: -50px;
    }

    .icon-container img {
        height: 20px;
    }

    .barra {
        width: 600px; 
    }

    .circunferencia-container {
        top: 80px; 
        left: 160px;
        transform: translate(-50%, 0);
    }

    .circunferencia {
        width: 120px; 
        height: 120px;
    }

    .modal-content {
        width: 40%; 
    }

    .modal-info input {
        width: 80%;
    }

    .menu-container {
        top: 160px; 
        left: 250px; 
    }

    .user-info {
        top: 100px; 
        left: 250px; 
    }
}

@media (max-width: 767px) {
    .top-bar {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .logo-container {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .logo-container img {
        height: 60px; 
    }

    .logo-container h1 {
        font-size: 16px; 
        margin-left: 0;
    }

    .icon-container img {
        height: 18px; 
    }

    .barra {
        width: 100%;
        height: auto;
        position: relative;
    }

    .barra-top-left,
    .barra-bottom-right {
        position: static;
        transform: none;
    }

    .circunferencia-container {
        position: relative;
        top: 0;
        left: 0;
    }

    .circunferencia {
        width: 100px; 
        height: 100px; 
    }

    .modal-content {
        width: 80%;
    }

    .modal-info input {
        width: 100%; 
    }

    .menu-container {
        top: auto;
        left: 0;
        font-size: 14px; 
    }

    .user-info {
        top: auto;
        left: 0;
        font-size: 14px; 
    }
}
 */