body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0px 10px; /* Reducido el tamaño de la barra */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 80px; /* Ajuste de la altura de la barra */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 100px; /* Tamaño del logo ajustado */
    margin-right: 0px; /* Espacio entre el logo y el texto reducido a 0 */
    margin-left: -50px; 
}

.logo-container h1 {
    color: #1f288d;
    margin-left: -40px; /* Margen negativo ajustado para superponer el texto al logo */
    font-size: 22px;
    white-space: nowrap;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container img {
    height: 25px; /* Tamaño de los íconos reducido */
    margin-left: 10px; /* Margen ajustado para los íconos */
    cursor: pointer;
}

.barra {
    position: absolute;
    width: 300px; /* Ajusta el tamaño de la imagen según necesites */
    height: auto;
    
}

.barra-top-left {
    top: 80px; /* Posiciona debajo de la barra superior */
    left: 0;
    transform: rotate(121deg); /* Invierte la imagen */
    clip-path: inset(0 0 0 50%); /* Recorta el lado derecho */
}

.barra-bottom-right {
    bottom: 0;
    right: 0;
}